@{
    ViewData["Title"] = "Login";
}
<div class="Login-body">
    <div class="Login-sec1">
        <img src="~/images/logo.jpg" />
        <div Ls1-child2>
            <button class="Login-button"><a  asp-area="" asp-controller="Home" asp-action="LoginAMPC">Academic Manager ></a></button>
            <button class="Login-button"><a asp-area="" asp-controller="Home" asp-action="LoginAMPC">Programme Coordinator ></a></button>
            <button class="Login-button"><a asp-area="" asp-controller="Home" asp-action="LoginPage">Lecturer ></a></button>
        </div>
    </div>
    <div class="Login-sec2">
        <img src="~/images/students.jpeg" />
        <div class="Ls2-child2">
            <p>Information about the institution will be put here to  be read by users.</p>
            <p>Information like:</p>

            <p>The branches</p>
            <p>The partners</p>
            <p>The Benefits of studying here</p>

            <p>Basically things like that</p>
        </div>
        
    </div>
</div>