@{
    ViewData["Title"] = "My Claims";
}
<div class="myclaims-body">
    <div class="mc-child1">
        <h1>Pending Claims</h1>
    </div>
    <div class="mc-child2"> 
        <table>
            <tr>
                <th>Claim</th>
                <th>Name</th>
                <th>Hours</th>
                <th>Rate</th>
                <th>Total</th>
                <th>Date Submitted</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>1</td>
                <td>John</td>
                <td>80</td>
                <td>100</td>
                <td>8 000</td>
                <td>22/08/2024</td>
                <td>PENDING</td>
            </tr>
        </table>

    </div>
</div>
